<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <parameter name="url" value="http://dev.pyoor.co/"/>
    <test verbose="3"
         name="C:\Users\Stas\MovadexProjects\Pyoor\src\test\java\tests">
        <parameter name="driverName" value="chrome" />
        <classes>
            <class name="tests.ServicesTest.HairStylistTests.BookServiceTest"/>
            <class name="tests.ServicesTest.HomeCleaningTest.HomeCleaningTest"/>
            <class name="tests.LogInTest"/>
            <class name="tests.ZipCodeTest"></class>
        </classes>
    </test>
</suite>
